<h1>Order: #<%= @order.id %></h1>

<p>You ordered <%= @order.teaches.count %> teaches:</p>

<ul>
  <% @order.teaches.each do |teach| %>
      <li><%= teach.title %> - <%= number_to_currency teach.price %></li>
  <% end %>
</ul>